* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

.visually-hidden {
  display: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
}

button {
  border:none;
  background-color: transparent;
}

.global-header {
  height:90px;
}

.global-header .gnb {
  width:100%;
  position:fixed;
  top:0;
  left:0;
}

.global-header .lnb {
  width:100%;
  position: fixed;
  top:50px;
  left:0;
}

.gnb {
  height:50px;
  background-color: rgb(255,204,0);
  border-bottom: 1px solid #e0e2e7;
}

.gnb-wrapper {
  position:relative;
  width:95%;
  height:50px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height:40px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height:40px;
}

.gnb-icon-button {
  width:32px;
  height:32px;
  font-size: 24px;
  color:#000;
}

.gnb-icon-button.is-menu {
  color:rgb(222, 0, 0)
}

.gnb-icon-button.is-menu:active {
  color:rgb(165,5,5)
}

.gnb-icon-button:active {
  color:#3f4150
}

.lnb {
  background-color: #fff;
  border-bottom: 1px solid #e0e2e7;
}

.lnb-list {
  width:95%;
  height:40px;
  margin:0 auto;
  display:flex;
  align-items: center;
}

.lnb-list a { 
  font-size: 13px;
  font-weight: 700;
  padding: 0 8px;
}

.lnb-list a:active {
  color:rgb(222,0,0)
}

.background {
  height:400px;
  background-image: url(./images/lego.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.sidebar {
  position:fixed;
  top:0;
  left:0;
  width:280px;
  height:100vh;
  padding:30px 20px;
  background-color: #fff;
  z-index:200;
  transform: translate(-280px, 0);
  transition:transform 300ms ease-in-out;
  overflow: scroll;
  overscroll-behavior: none;
}

.sidebar.is-active {
  transform: translate(0, 0);
}

.sidebar-header {
  padding: 0 12px;
}

.sidebar-user {
  height:80px;
}

.sidebar-user a {
  display:flex;
  align-items: center;
  font-size: 14px;
  color:#3f4140;
  font-weight: 700;
  width:100%;
}
.avatar {
  width:30px;
  height:30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right:8px;
  /* 기본값은 1 / shrink값을 0으로 바꾸면 컨테이너 크기만큼 값을 유지 */
  flex-shrink:0;
  flex-grow:0;
}

.avatar img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.user-name {
  overflow: hidden;
  /* 기본값은 nomal / 공백과 줄바꿈을 어떻게 처리할건지 정의 */
  white-space: nowrap;
  /* 넘치는 텍스트를 어떻게 처리할건지 정의 */
  text-overflow: ellipsis;
}

.drawer-menu {
  border-bottom: 1px solid #e0e2e7;
}

.drawer-menu.is-product.is-open .drawer-menu-content {
  max-height:288px;
}

.drawer-menu.is-brand.is-open .drawer-menu-content {
  max-height:216px;
}

.drawer-menu.is-info.is-open .drawer-menu-content {
  max-height:180px;
}

.drawer-menu-button {
  position: relative;
  display:flex;
  align-items: center;
  width:100%;
  height:54px;
  padding:0 8px;
  font-weight: 700;
}

.drawer-menu.is-open .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}

.drawer-menu-button i:first-child{
  margin-right:8px;
  font-size: 20px;
  color:#3f4150;
}

.drawer-menu-button i:last-child {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  right:10px;
  color:#3f4150;
}

.drawer-menu-content {
  max-height:0;
  overflow: hidden;
  transition:max-height 300ms ease-in-out;
}

.drawer-menu-item a {
  display:flex;
  align-items: center;
  width:100%;
  height:36px;
  padding:0 12px;
  font-weight: 700;
  color:#3f4150;
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  width:100%;
  height:100vh;
  background-color: rgb(63,65,80,.5);
  visibility:hidden;
  transition:visibility 300ms ease-in-out;
}

.overlay.is-active {
  visibility: visible;
}

.empty-box {
  height:1500px;
}