* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display:none;
}

header {
  /* sticky는 자신의 부모요소 안에서만 적용 */
  /* 부모의 height값만큼 고정 */
  position:sticky;
  top: 0;
  z-index:10;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding:10px 0;
}

.logo img {
  width:50px;
  margin-left:20px;
}

.gnb-list {
  display:flex;
  justify-content: space-between;
  width:300px;
  margin-right:30px;
}

.gnb-item a {
  color:#fff;
  font-weight: bold;
  font-size:16px;
  transition:color 300ms ease-in-out;
}

.gnb-item a:hover {
  color:dodgerblue;
}

.background {
  height: 500px;
  background-image: url(./images/스누피배경.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;
  text-align: center;
}

.main-title {
  font-size: 48px;
}

.main-content,
.main-btn {
  margin-top:20px;
}

.main-btn {
  border: none;
  font-size:16px;
  background-color: #fff;
  border-radius: 5px;
  padding:10px;
}

.post-card {
  position:relative;
  top:-80px;
  width:80%;
  margin: 20px auto;
  padding:30px;
  border-radius: 10px;
  text-align: center;
  /* 최대폭을 결정하는 css속성 : 이 이상은 커지지 말아라 */
  max-width: 600px;
  /* 최소폭을 결정하는 속성 : 이 이상은 작아지지 말아라 */
  min-width: 300px;
  background-color: rgb(217, 241, 254);
}

.fixed-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height:600px;
  background-color: rgb(217, 241, 254);
}

.back1,
.back2 {
  width: 500px;
  height: 500px;
  background-color: #fff;
}

.back1 {
  background-image: url(./images/스누피1.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left 450px;
  margin-right:20px;
}
.back2 {
  background-image: url(./images/스누피2.png);
  background-size: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right 450px;
}

footer {
  background-color: skyblue;
  padding:20px 0;
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display:flex;
  justify-content:space-between;
}
.footer-wrapper h3 {
  color:#fff;
}

.footer-list {
  display:flex;
}

.footer-item {
  margin-right: 20px;
}
.footer-item:last-child {
  margin-right: 0;
}
.footer-item i {
  font-size: 24px;
  color:#fff;
  transition: color 300ms ease-in-out;
}

.footer-item i:hover {
  color:dodgerblue;
}

.top-btn i {
  /* viewport를 기준으로 이동 */
  position: fixed;
  bottom: 30px;
  right:30px;
  font-size: 38px;
  color:rgb(41, 127, 161);
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.side-menu {
  position:fixed;
  top: 100px;
  right: 50px;
  width:200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888;
  text-align:center;
  padding:10px 0;
}

.side-menu-item {
  padding: 10px 0;
}
.side-menu-item a {
  color:#888;
  transition:all 300ms ease-in-out;
}
.side-menu-item a:hover {
  color:dodgerblue;
  text-decoration:underline;
}


@media screen and (max-width :1200px) {

  header,
  footer {
  padding: 10px 0;
  background-color: skyblue;
  font-size: 20px;
  }


  .front-txt {
    text-align: center;
  }

  .second-txt {
    width: 90%;
    height:150px;
    margin-top:20px;
  }

  .back1,
  .back2 {
  width: 400px;
  height: 500px;
  background-color: #fff;
}
  .back1 {
    background-image: url(./images/스누피1.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 200px right 500px;
    margin-right:20px;
  }
  .back2 {
    background-image: url(./images/스누피2.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 200px left 500px;
  }
}

@media screen and (max-width :768px) {
  header,
  footer {
  padding: 10px 0;
  background-color: skyblue;
  font-size: 20px;
  }


  .back1,
  .back2 {
  width: 200px;
  height: 400px;
  background-color: #fff;
  }
  .back1 {
    background-image: url(./images/스누피1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 250px right 250px;
    margin-right:20px;
  }
  .back2 {
    background-image: url(./images/스누피2.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 250px left 250px;
  }


  .side-menu {
    position:fixed;
    top: 100px;
    right: 10px;
    width:100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888;
    text-align:center;
    padding:10px 0;
  }
  
  .side-menu-item {
    padding: 10px 0;
  }
  .side-menu-item a {
    color:#888;
    transition:all 300ms ease-in-out;
  }
  .side-menu-item a:hover {
    color:dodgerblue;
    text-decoration:underline;
  }
}
